<section id="contact">
  <div class="container contact-container">
    <h2>Ready to work together?</h2>
    <div class="buttons">
      <a href="https://www.linkedin.com/in/javihertz/" class="btn btn-primary"
        >LinkedIn</a
      >
      <a href="https://github.com/javihertz"
        ><img src="/assets/github.jpg" alt="GitHub" /></a
      >
    </div>
  </div>
</section>

<style>
  .contact-container {
    text-align: center;
    padding: 8rem 1.5rem;
    background: radial-gradient(
      circle at center,
      rgba(92, 205, 167, 0.05) 0%,
      transparent 70%
    );
  }

  p {
    max-width: 500px;
    margin: 0 auto 2rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; /* Allow wrapping on small screens */
  }

  .socials {
    display: flex;
    gap: 2rem;
  }

  .socials a {
    color: var(--color-text-muted);
    font-size: 0.9rem;
  }

  .socials a:hover {
    color: var(--color-primary);
  }
</style>
